.checkout-item-container {
   
  min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 10px;
    padding-top: 10px;


    
    .image-container {
        width: 23%;
        padding-right: 15px;
    
        img {
          width: 100%;
          height: 100%;
        }
    }

  .name,
  .quantity,
  .price{
    width: 23%;
  }


  .quantity{
    display: flex;
    justify-content:left
    //align-items: center;


    .arrow {
        cursor: pointer;
      }
  
      .value {
        margin: 0 10px;

        display: flex;

         justify-content:center;
    
      }

  }


  .remove-item {
    padding-left: 12px;
    cursor: pointer;
    display: inline;
    color: darkgray;
    
  }
}  